.headPart
{
display:flex;
flex-direction: column;
justify-content: center;
align-items:center;
}
ul{
    margin:1% 10% 1% 10%;
    width:80%;
}
li{
    border:2px solid white;
    background-color: black;
    border-radius:10px;
    list-style-type: none;
    margin:10px;
    padding:10px;
    text-align: center;
}